﻿<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />

<script>

    $(document).ready(function () {
        GetTimeQueries();
        GetTimeZoneInfo();

        $(".updatesresults").click(function () {
            GetTimeQueries();
        });

    });

    //call to get the time and update the DB
    function UserAction() {
        $("#spnOutput").html("Please wait");
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var objResponse = JSON.parse(this.responseText);
                $("#spnOutput").html("The time is: " + objResponse.time);
            }
        };
        xhttp.open("GET", "http://localhost:5000/api/currenttime/" + encodeURIComponent($("#selTimeZones").val()), true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        $("#modalTime").modal("show");

    }

    //call to get the past queries and build a simple table
    function GetTimeQueries() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var tblTxt = "";
                objResponse = JSON.parse(this.responseText);
                tblTxt += "<table style='width:100%;' class='table'>"
                tblTxt += "<tr><th>#</th><th>Time</th><th>Client IP</th><th>Time Zone</th></tr>";

                for (x in objResponse) {
                    tblTxt += "<tr><td>" + objResponse[x].currentTimeQueryId + "</td><td>" + objResponse[x].time + "</td><td>" + objResponse[x].clientIp + "</td><td>" + objResponse[x].timeZone + "</td></tr>";
                }

                tblTxt += "</table>"

                $("#spnHistory").html(tblTxt);
            }
        };

        xhttp.open("GET", "http://localhost:5000/api/lookuptime", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }

    //call for the TZInfo list
    function GetTimeZoneInfo() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {

                objResponse = JSON.parse(this.responseText);

                for (x in objResponse) {
                    $("#selTimeZones").append("<option value='" + objResponse[x].Id + "'>" + objResponse[x].DisplayName + "</option>");
                }
                $("#selTimeZones").val($("#htnTimeZone").val());
               
            }
        };

        xhttp.open("GET", "http://localhost:5000/api/TimeZone", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }

</script>

@{
    //using server time since they are one and the same in this demo. For client TZ info use something like moment.js
    TimeZoneInfo localZone = TimeZoneInfo.Local;
}

<input type="hidden" id="htnTimeZone" value="@localZone.Id" />
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=wall+clocks" target="_blank"><span class="glyphicon glyphicon-time"></span> A more straight forward clock</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-11 text-left">
            <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
            <div class="container-fluid text-center">
                <div class="row content">
                    <div class="col-sm-2 text-left">
                        <button type="button" onclick="UserAction();" class="btn btn-primary form-inline">Get the time</button>
                    </div>
                    <div class="col-sm-10 text-left">
                        <select class="form-control" id="selTimeZones"></select>

                    </div>
                </div>
            </div>

            <br /><br />
            <span id="spnHistory"></span>

        </div>

    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalTime">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close updatesresults" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="spnOutput"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary updatesresults" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
